.cartMain {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cartdetails {
  display: flex;
  flex-direction: column;
}
.carttotal {
  display: flex;
  justify-content: space-evenly;
  font-weight: 800;
  font-size: larger;
}
.topbtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkMode {
  background-color: #444;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #333;
}
