.btns {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.loginBtn,
.registerBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.loginBtn {
  background-color: #007bff; /* Blue color */
}

.registerBtn {
  background-color: #28a745; /* Green color */
}

/* Hover styles */
.loginBtn:hover,
.registerBtn:hover {
  opacity: 0.8;
}
