.wholeDet {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.pageFull {
  height: 90vh;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ratingcss {
  color: chocolate;
  font-weight: 700;
  font-size: larger;
}

.backbtn {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  text-decoration: none;
}

.darkHeader {
  background-color: #333;
  color: #fff;
}

.lightHeader {
  background-color: #eee;
  color: #333;
}

.darkMode {
  background-color: #444;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #333;
}
