.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnsMulti {
  display: flex;
  justify-content: space-around;
}

.addToCart {
  margin-right: 10px;
  position: relative;
  align-self: center;
  padding: 3px;
  padding-top: 6px;

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.darkHeader {
  background-color: #333;
  color: #fff;
}

.lightHeader {
  background-color: #eee;
  color: #333;
}

.darkMode {
  background-color: #444;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #333;
}
